git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
gui:
  sidePanelWidth: 0.25
  showIcons: true
  theme:
    selectedLineBgColor:
      - underline
    selectedRangeBgColor:
      - underline
refresher:
  refreshInterval: 3
os:
  edit: "nvim"
customCommands:
  - command: git cz
    context: files
    key: C
    output: terminal
